.disciplinas {
  background-color: var(--carbon);
  background-image: linear-gradient(rgba(21, 20, 15, 0.85), rgba(21, 20, 15, 0.85)), url('../../../img/texturas/t3.webp');
  background-size: cover;
  background-position: center;
}

.disciplinas h2 {
  font-size: calc(var(--text-3xl) - 4px);
}

.disciplinas__carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 16px;
  padding-bottom: 24px;
  scrollbar-width: none; 
  /* Hacer que el scroll llegue hasta los bordes en móvil */
  margin-left: calc(var(--padding-lateral) * -1);
  margin-right: calc(var(--padding-lateral) * -1);
  padding-left: var(--padding-lateral);
  padding-right: var(--padding-lateral);
}

.disciplinas__carousel::-webkit-scrollbar {
  display: none;
}
