.planes {
  background-color: var(--carbon);
  background-image: linear-gradient(rgba(21, 20, 15, 0.85), rgba(21, 20, 15, 0.85)), url('../../../img/texturas/t2.webp');
  background-size: cover;
  background-position: center;
}

.planes .section-head {
  max-width: 700px;
}
